body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: rgb(239, 231, 221);
    margin: 0;
    padding: 0;
}

.img-responsive {
    width: 100%;
    max-height: 170px;

}

h1 {
    text-align: center;
    font-size: 4em;
}

p {
    padding: 20px;
    margin: 10px 10px;
}

.company-name {
    color: rgb(210, 183, 30);
    font-size: 55px;
    text-align: center;


}

.company-quota {
    color: rgb(221, 0, 255);
    font-size: 20px;
    padding-top: 200px;
}

/* .first-part {
    display: flex;
} */

.half-width {
    width: 50%;
    margin: 5px 15px;
    padding: 10px;
    
}

.link-button {
    text-decoration: none;
    font-weight: 700;
}

button {
    padding: 10px;
    margin: 20px 50px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px 10px;

}

/* .second-part {
    text-align: center;
} */

.flaxible-section {
    display: flex;
}